*{
    margin: 0;
}
.container{
    border: 1px solid red;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px;
}
.logo{
    height: 100px;
    width: 100px;
}
.actions{
    display: flex;
}